<div class="d-flex justify-content-center align-items-center row"style="height:100vh">
  
  <form id="uploadForm" #f="ngForm"
  enctype   =  "multipart/form-data"
  action    =  "upload"
  method    =  "post">
    <div class="custom-file">
        <input required type="file" class="custom-file-input" id="file" ngModel name="file"
         accept=".csv,.xlsx,.xls" 
         (change)="handleFileInput($event.target.files)">
        <label class="custom-file-label" for="customFile">Choose Excel file or CSV</label>
      </div>
    <button  class="btn btn-primary"(click)="uploadFileToActivity()"
    [disabled]="f.invalid" >Submit</button>
  </form>
  </div>