<div class="d-flex justify-content-center align-items-center row"style="height:100vh">
  <form id        =  "uploadForm"
  enctype   =  "multipart/form-data"
  action    =  "upload"
  method    =  "post">
    <div class="custom-file">
        <input required type="file" class="custom-file-input" id="customFile" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel,.xlsx" >
        <label class="custom-file-label" for="customFile">Choose Excel file or CSV</label>
      </div>
    <input type="submit" class="btn btn-primary">Submit
  </form>
  </div>