<h2 mat-dialog-title>{{ title }}</h2>
<form [formGroup]="peopleService.form" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <mat-form-field>
      <input
        matInput
        placeholder="الأسم*"
        formControlName="الأسم"
      />
      <mat-error>Please provide a human firstName</mat-error>
    </mat-form-field>
    <mat-divider></mat-divider>
    <mat-form-field>
      <input
        matInput
        placeholder="الشهره*"
        formControlName="الشهره"
      />
      <mat-error>Please enter a lastName</mat-error>
    </mat-form-field>
    <mat-divider></mat-divider>
    <mat-form-field>
      <input
        matInput
        placeholder="اسم الاب*"
        formControlName="اسم الاب"
      />
      <mat-error>Please enter a lastName</mat-error>
    </mat-form-field>
    <mat-divider></mat-divider>
    <mat-form-field>
      <input
        matInput
        placeholder="اسم الام وشهرتها*"
        formControlName="اسم الام وشهرتها"
      />
      <mat-error>Please enter a lastName</mat-error>
    </mat-form-field>
    <mat-divider></mat-divider>
    <mat-form-field>
      <input
        matInput
        placeholder="محل الولاده"
        formControlName="محل الولاده"
      />
      <mat-error>Please enter a lastName</mat-error>
    </mat-form-field>
    <mat-divider></mat-divider>
    <mat-form-field>
      <input
        matInput
        placeholder="تاريخ الولاده"
        formControlName="تاريخ الولاده"
      />
      <mat-error>Please enter a lastName</mat-error>
    </mat-form-field>
    <mat-divider></mat-divider>
    <mat-form-field>
      <input
        matInput
        placeholder="الجنس"
        formControlName="الجنس"
      />
      <mat-error>Please enter a lastName</mat-error>
    </mat-form-field>
    <mat-divider></mat-divider>
    <mat-form-field>
      <input
        matInput
        placeholder="الوضع العائلي"
        formControlName="الوضع العائلي"
      />
      <mat-error>Please enter a lastName</mat-error>
    </mat-form-field>
    <mat-divider></mat-divider>
    <mat-form-field>
      <input
        matInput
        placeholder="اسم الزوج وشهرته"
        formControlName="اسم الزوج وشهرته"
      />
      <mat-error>Please enter a lastName</mat-error>
    </mat-form-field>
    <mat-divider></mat-divider>
    <mat-form-field>
      <input
        matInput
        placeholder="مكان القيد"
        formControlName="مكان القيد"
      />
      <mat-error>Please enter a lastName</mat-error>
    </mat-form-field>
    <mat-divider></mat-divider>
    <mat-form-field>
      <input
        matInput
        placeholder="رقم القيد(السجل المدني"
        formControlName="رقم القيد(السجل المدني"
      />
      <mat-error>Please enter a lastName</mat-error>
    </mat-form-field>
    <mat-divider></mat-divider>
    <mat-form-field>
      <input
        matInput
        placeholder="القضاء للقيد"
        formControlName="القضاء للقيد"
      />
      <mat-error>Please enter a lastName</mat-error>
    </mat-form-field>
    <mat-divider></mat-divider>
    <mat-form-field>
      <input
        matInput
        placeholder="المحافظه للقيد"
        formControlName="المحافظه للقيد"
      />
      <mat-error>Please enter a lastName</mat-error>
    </mat-form-field>
    <mat-divider></mat-divider>
    <mat-form-field>
      <input
        matInput
        placeholder="الجنسيه"
        formControlName="الجنسيه"
      />
      <mat-error>Please enter a lastName</mat-error>
    </mat-form-field>
    <mat-divider></mat-divider>
    <mat-form-field>
      <input
        matInput
        placeholder="العنوان"
        formControlName="العنوان"
      />
      <mat-error>Please enter a lastName</mat-error>
    </mat-form-field>
    <mat-divider></mat-divider>
    <mat-form-field>
      <input
        matInput
        placeholder="عدد الأبناء"
        formControlName="عدد الأبناء"
      />
      <mat-error>Please enter a lastName</mat-error>
    </mat-form-field>
    <mat-divider></mat-divider>
    <mat-form-field>
      <input
        matInput
        placeholder="أقرباء-صله القربي"
        formControlName="أقرباء-صله القربي"
      />
      <mat-error>Please enter a lastName</mat-error>
    </mat-form-field>
    <mat-divider></mat-divider>
    <mat-form-field>
      <input
        matInput
        placeholder="المساعدات المقدمه"
        formControlName="المساعدات المقدمه"
      />
      <mat-error>Please enter a lastName</mat-error>
    </mat-form-field>
    <mat-divider></mat-divider>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
    <button
      mat-raised-button
      mat-primary
      type="submit"
      [disabled]="peopleService.form.invalid"
    >
      Submit
    </button>
  </mat-dialog-actions>
</form>
