<h2 mat-dialog-title>{{ title }}</h2>
<form [formGroup]="peopleService.form" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <mat-form-field>
      <input
        matInput
        placeholder="firstName*"
        formControlName="firstName"
      />
      <mat-error>Please provide a human firstName</mat-error>
    </mat-form-field>
    <mat-divider></mat-divider>
    <mat-form-field>
      <input
        matInput
        placeholder="lastName"
        formControlName="lastName"
      />
      <mat-error>Please enter a lastName</mat-error>
    </mat-form-field>
    <mat-divider></mat-divider>
    
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
    <button
      mat-raised-button
      mat-primary
      type="submit"
      [disabled]="peopleService.form.invalid"
    >
      Submit
    </button>
  </mat-dialog-actions>
</form>
