<h2 mat-dialog-title>{{ title }}</h2>
<form [formGroup]="organizationsService.form" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <mat-form-field>
      <input
        matInput
        placeholder="Name*"
        formControlName="Name"
      />
      <mat-error>Please provide an Organization Name</mat-error>
    </mat-form-field>
    <mat-divider></mat-divider>
    <mat-form-field>
      <input
        matInput
        placeholder="Location"
        formControlName="Location"
      />
      <mat-error>Please enter a Location</mat-error>
    </mat-form-field>
    <mat-divider></mat-divider>

    
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
    <button
      mat-raised-button
      mat-primary
      type="submit"
      [disabled]="organizationsService.form.invalid"
    >
      Submit
    </button>
  </mat-dialog-actions>
</form>
